.write{
    padding-top: 50px;
    background-image: linear-gradient(rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)),
    url(https://images.unsplash.com/photo-1547104442-044448b73426?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80);
    background-size: cover;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
    font-family: 'Varela', sans-serif;
}

.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: tan;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    opacity: 0.6;
    transition:0.3s;
}
.writeIcon:hover {opacity:1}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    opacity: 0.5;
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-size: 20px;
    height: 100vh;
    opacity: 0.5;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    /* color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px; */
}